/*
Imminent - Coming Soon Template by Themewagon
Version: 1.0
Author: ThemeWagon
Author URI: http://www.themewagon.com
*/


/* =Common Styles
-------------------------------------------------------------- */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

body {
    background: #fff;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

section {
    overflow: hidden;
}

::selection {
    background: #161a1b;
    color: #fff;
}

::-moz-selection {
    background: #161a1b;
    color: #fff;
}


/* =Typography
-------------------------------------------------------------- */
a {
    text-decoration: none;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 80px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -0.08em;
    color: #161a1b;
}

/* =Content Styles
-------------------------------------------------------------- */
#video-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    background: url(images/landing1.jpg) no-repeat #fff;
    background-size: cover;
}

    #video-bg > video {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }

.copyright {
    position: fixed;
    font-size: 18px;
    width: 100%;
    z-index: 9;
    font-weight: 700;
    color: #000;
    text-align: center;
    bottom: 5%;
    font-family: 'Russo One', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@supports (object-fit: cover) {
    #video-bg > video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/* =Responsive Styles
-------------------------------------------------------------- */

@media (max-width: 320px) {
}


/* Landscape Phone */
@media all and (min-width: 400px) {
}

/* Tablet Portrait */
@media all and (min-width: 700px) {
}

@media all and (min-width: 900px) {
}

@media all and (min-width: 1200px) {
}

@media all and (min-width: 1400px) {
}

@media all and (min-width: 1600px) {
}
